EXPO_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-publishable-or-anon-key


# Create File Named .env.local and then copy ning duha
EXPO_PUBLIC_SUPABASE_URL=https://vbmjjygqnlnnedjoptgm.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_-orj_KgcXGI6i6glcrzRaA_ZWvF17ms
